.loading {
  top: 0;
  height: 100vh;
  width: 100vw;
  left: 0;
  position: absolute;
  background-color: rgb(23, 17, 70);
}

#loadingCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  transform: scale(3);
}